<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>404</title>
    <script src="../static/js/jquery-3.1.0.min.js" th:src="@{../static/js/jquery-3.1.0.min.js}"></script>
    <link rel="stylesheet" href="webjars/bootstrap/3.3.1/css/bootstrap.min.css" media="screen"/>
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{../static/css/style.css}"/>
    <script src="webjars/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</head>
</html>
<div class="container">
    <div class="row">
        <div class="span12">
            <div class="hero-unit center">
                <h1>Sayfa Bulunamadı
                    <small><font face="Tahoma" color="red">Hata 404</font></small>
                </h1>
                <br/>
                <p>Sayfa bulunamadı site yöneticisi ile iletişime geçebilir veya tarayıcınızın geri tuşuna basarak bir
                    önceki sayfaya dönebilirsiniz.</p>
                <p><b>Ya da aşağıda ki butona tıklayarak anasayfaya dönebilirsiniz.</b></p>
                <a href="/" class="btn btn-large btn-info"><i class="icon-home icon-white"></i> Anasayfaya Git..</a>
            </div>
            <br/>
        </div>
    </div>
</div>
